extends layout/base.pug

block cover
    img(src=(post.image!=undefined?image_path+post.image.name:image_path+"default-post.jpg") alt="cover image")

block content
    main.container
        .row
            article.post.col-lg-8.mt-5
                section.mb-4.d-sm-flex.align-items-center
                    .d-flex.align-items-center.mr-sm-4
                        i.fa.fa-clock-o.mr-2
                        span=post.publishedTime
                    .d-flex.align-items-center.mt-2.mt-sm-0
                        i.fa.fa-tag.mr-2
                        div
                            each tag in post.tags
                                a(href='/tag/'+tag.slug)=tag.name
                                |&nbsp;
                section.text-justify.overflow-hidden
                    | !{post.content}
                section.d-flex.align-items-center.mt-4
                    h3.mb-0 Social
                    .bg-dark.rounded.text-white.d-flex.align-items-center.p-2.mx-3
                        i.fa.fa-share.mr-2
                        span 150
                    .bg-dark.rounded.text-white.d-flex.align-items-center.p-2
                        i.fa.fa-thumbs-up.mr-2
                        span 1500
                section.mt-5
                    h2 You may also like
                    .row
                        .col-sm-6.mt-4
                            .card
                                .image-container.card-img-top
                                    img(src="images/sensoji.jpg" alt="post cover image")
                                    .image-cover
                                .card-body
                                    .d-flex.align-items-center
                                        i.fa.fa-tag.mr-3
                                        span
                                            a(href="tag.html") Tokyo
                                            a(href="tag.html") Japan
                                            a(href="tag.html") Culture
                                    h4.my-2
                                        a(href="post.html") Sensoji
                                    div 2016 March 14
                                    p.overflow-hidden.text-justify.mt-3(style="height: 4.5rem;")
                                        | Sensō-ji (金龍山浅草寺 Kinryū-zan Sensō-ji) is an ancient Buddhist temple located in
                                        | Asakusa, Tokyo, Japan. It is Tokyo's oldest temple, and one of its most
                                        | significant. Formerly associated with the Tendai sect of Buddhism, it became
                                        | independent after World War II.
                        .col-sm-6.mt-4
                            .card
                                .image-container.card-img-top
                                    img(src="images/tag-tokyo.jpg" alt="post cover image")
                                    .image-cover
                                .card-body
                                    .d-flex.align-items-center
                                        i.fa.fa-tag.mr-3
                                        span
                                            a(href="tag.html") Tokyo
                                            a(href="tag.html") Culture
                                            a(href="tag.html") Temple
                                    h4.my-2
                                        a(href="post.html") Zojoji Temple
                                    div 2016 March 14
                                    p.overflow-hidden.text-justify.mt-3(style="height: 4.5rem;")
                                        | Zojoji Temple (増上寺, Zōjōji) is the head temple of the Jodo sect of Japanese
                                        | Buddhism in the Kanto Region. Standing next to Tokyo Tower, the temple grounds
                                        | consist of some impressive structures as well as a mausoleum of the Tokugawa
                                        | family and a small museum.
                section.mt-5
                    if(comments.length>0)
                        h2=comments.length
                            |&nbsp;thoughts
                    else
                        h2 No comments
                    section#thoughts
                        each comment in comments
                            .mt-3.pt-2.border-top
                                div
                                    span.font-weight-bold.mr-2=comment.visitor.get('name')
                                    span.text-muted=comment.commentedTime
                                .mt-3.text-justify
                                    | !{comment.comment}
                                .text-justify.pl-5.replies
                                if(post.discussable)                                    
                                    .reply-form.mt-3(style="display: none;")
                                        .form-group.d-none
                                            input.commentId.form-control(type="text" name="commentId" value=comment._id )
                                        .form-group
                                            textarea.reply.form-control(name="comment" rows="5" placeholder="Enter your reply here")
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="name") Name*
                                            .col-sm-10
                                                input.name.form-control(type="text" name="name" placeholder="Name" )
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="email") Email*
                                            .col-sm-10
                                                input.email.form-control(type="text" name="email" placeholder="Email" )
                                        .form-group.row
                                            label.col-sm-2.col-form-label(for="website") Website
                                            .col-sm-10
                                                input.website.form-control(type="text" name="website" placeholder="Website")
                                        .form-group.row
                                            .col-sm-10
                                                button.reply-btn.btn.btn-dark.mr-4(type="button") Post reply
                                                button.hide-form-btn.btn.btn-dark(type="button") Cancel
                                    button.show-form-btn.mt-3.btn.btn-dark Reply
                    if(post.discussable)
                        section.mt-4
                            h3 Leave your comment here
                            div#comment-form
                                .form-group.d-none
                                    input#postId.form-control(type="text" name="postId" value=post._id required)
                                .form-group
                                    textarea#comment.form-control(name="comment" rows="10" required)
                                .form-group.row
                                    label.col-sm-2.col-form-label(for="name") Name*
                                    .col-sm-10
                                        input#name.form-control(type="text" name="name" placeholder="Name" required)
                                .form-group.row
                                    label.col-sm-2.col-form-label(for="email") Email*
                                    .col-sm-10
                                        input#email.form-control(type="text" name="email" placeholder="Email" required)
                                .form-group.row
                                    label.col-sm-2.col-form-label(for="website") Website
                                    .col-sm-10
                                        input#website.form-control(type="text" name="website" placeholder="Website")
                                .form-group.row
                                    .col-sm-10
                                        button#comment-btn.btn.btn-dark(type="button") Post comment
                    else
                        h3 Not discussable
            aside.aside.col-lg-4.mt-5
                if(topPosts)
                    section
                        h1 Top posts
                        div
                            each post in topPosts
                                a.media.py-3.border-top(href='/post/'+post.slug)
                                    .image-container(style="width: 100px; height: 70px;")
                                        img(src=(post.image!=undefined?image_path+post.image.name:image_path+"default-post.jpg") alt="post thumbnail")
                                        .image-cover
                                    .media-body.ml-3
                                        div=post.title
                                        span.text-muted=post.publishedTime
                if(tags)
                    section.mt-5
                        h1
                            a(href="/tag") Tags
                        .m-n1.py-3.border-top
                            each tag in tags
                                a.btn.btn-dark.m-1(href="/tag/"+tag.slug)=`${tag.name}(${tag.postCount})`
                if(latestPosts)
                    section.mt-5
                        h1 Latest posts
                        div
                            each post in latestPosts
                                a.media.py-3.border-top(href='/post/'+post.slug)
                                    .image-container(style="width: 100px; height: 70px;")
                                        img(src=(post.image!=undefined?image_path+post.image.name:image_path+"default-post.jpg") alt="post thumbnail")
                                        .image-cover
                                    .media-body.ml-3
                                        div=post.title
                                        span.text-muted=post.publishedTime
block javascripts
    // load blueimp template engine
    script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-JavaScript-Templates/3.12.0/js/tmpl.min.js')
    script#comment-tmpl(type='text/x-tmpl').
        <div class="mt-3 pt-2 border-top">
            <div>
                <span class="font-weight-bold mr-2">{%=o.visitor.name%}</span>
                <span class="text-muted">{%=o.commentedTime%}</span>
            </div>
            <div class="mt-3 text-muted font-italic font-weight-light">
                    {% if (o.status=='pending') { %}
                        <mark>Waiting for approval</mark>
                    {% } %}
            </div>
            <div class="mt-3 text-justify">{%=o.comment%}</div>
        </div>
    script#reply-tmpl(type='text/x-tmpl').
        <div class="mt-3">
            <div>
                <span class="font-weight-bold mr-2">{%=o.visitor.name%}</span>
                <span class="text-muted">{%=o.repliedTime%}</span>
            </div>
            <div class="mt-3 text-muted font-italic font-weight-light">
                    {% if (o.status=='pending') { %}
                        <mark>Waiting for approval</mark>
                    {% } %}
            </div>
            <div class="mt-2 text-justify">
                {%=o.reply%}
            </div>
        </div>
    script.
        $('#comment-btn').on('click', () => {
            const post = $('#postId').val()
            const comment = $('#comment').val()
            const name = $('#name').val()
            const email = $('#email').val()
            const website = $('#website').val()
            if(website.length > 0)            
                $.post( 
                    '/post/comment', 
                    {
                    post, comment, name, email, website
                    }, 
                    function( comment ) {
                        console.log(comment)
                        $('#thoughts').append(tmpl('comment-tmpl',comment))
                        $('#comment,#name,#email,#website').val('')
                    })
            else
                $.post( 
                    '/post/comment', 
                    {
                    post, comment, name, email
                    }, 
                    function( comment ) {
                        console.log(comment)
                        $('#thoughts').append(tmpl('comment-tmpl',comment))
                        $('#comment,#name,#email').val('')
                    })
        })
        $('.show-form-btn').click(function(){
            $(this).hide()
            $(this).prev().show()
        })
        $('.hide-form-btn').click(function(){
            $(this).parents(".reply-form").hide()
            $(this).parents(".reply-form").next().show()
        })
        $('.reply-btn').on('click', function(){
            const replyForm = $(this).parents(".reply-form")
            const replies = replyForm.prev()
            const commentElement = replyForm.find('.commentId')
            const replyElement = replyForm.find('.reply')
            const nameElement = replyForm.find('.name')
            const emailElement = replyForm.find('.email')
            const websiteElement = replyForm.find('.website')
            const comment = commentElement.val()
            const reply = replyElement.val()
            const name = nameElement.val()
            const email = emailElement.val()
            const website = websiteElement.val()
            console.log(replies)
            if(website.length > 0)            
                $.post(
                    '/post/reply', 
                    {
                    comment, reply, name, email, website
                    }, 
                    function( reply ) {
                        console.log(reply)
                        replies.append(tmpl('reply-tmpl',reply))
                        replyElement.val('')
                        nameElement.val('')
                        emailElement.val('')
                        websiteElement.val('')
                        replyForm.hide()
                        replyForm.next().show()
                    })
            else
                $.post( 
                    '/post/reply', 
                    {
                    comment, reply, name, email
                    }, 
                    function( comment ) {
                        console.log(comment)
                        replies.append(tmpl('reply-tmpl',reply))
                        replyElement.val('')
                        nameElement.val('')
                        emailElement.val('')
                        websiteElement.val('')
                            replyForm.hide()
                            replyForm.next().show()
                    })
        })